<main class="w-dvw min-h-dvh bg-gray-200 dark:bg-gray-900">

    <p-menubar [model]="items">
        <ng-template #start>
            <img src="logo.png" class="h-10 w-9" alt="">
        </ng-template>

        <ng-template #item let-item let-root="root">
            <a 
                pRipple 
                class="flex items-center p-menubar-item-link"
                [routerLink]="item.routerLink"
            >
                <span>{{ item.label }}</span>
                @if (item.badge) {
                    <p-badge [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
                }
                @if (item.shortcut) {
                    <span class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1">{{ item.shortcut }}</span>
                }
                @if (item.items) {
                    <i [ngClass]="['ml-auto pi', root ? 'pi-angle-down' : 'pi-angle-right']"></i>
                }
            </a>
        </ng-template>

        <ng-template #end>
            <div class="flex items-center gap-4">
                <span class="text-xs text-gray-500">v1.3.0</span>
                <p-splitbutton [model]="itemsConfig" icon="pi pi-user" /> 
            </div>
        </ng-template>
    </p-menubar>

    <router-outlet></router-outlet>

    <p-confirmdialog key="positionDialog" position="topright" [style]="{ width: '400px' }" />
</main>
