section#img-public {
  background-image: url('https://images.pexels.com/photos/32268533/pexels-photo-32268533.jpeg');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

article#container-public {
  
}