/* Exemplo de CSS para o template-pdf */
#content {
  width: 794px;
  height: 1123px;
  background-color: #ffffff;

  overflow: hidden;
  position: relative;
}

header {
  position: relative;
  width: inherit;
  padding: 40px;
}

header img#bg-header {
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
}

header img#logo {
  position: absolute;
  width: 50px;
  top: 20px;
  left: 20px;
}

main {
  height: calc(100% - 160px);
  margin-top: 160px;
  padding: 20px;
}

.box {
  width: inherit;
  display: flex;
  align-items: end;
  justify-content: start;
  gap: 20px;
}

.box p {
  font-size: .9rem;
  font-weight: bold;
}

.box span {
  font-size: .9rem;
}

.under {
  position: relative;
  width: 100%;
}

.under::before {
  content: '';
  position: absolute;
  background-color: #003477;
  bottom: -5px;
  left: -5px;
  width: inherit;
  height: 1px;
}

.date {
  font-size: .9rem;
}

#footer-contact {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 794px;
  padding: 10px 0;
}