<div class="p-8">
  <div class="flex w-full">
    <p-card class="w-full flex justify-between items-center" header="Novo orçamento">
      <ng-template #content>
        <h2 class="text-3xl font-bold text-green-600">
          {{ budget.price | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
        </h2>
      </ng-template>

      <ng-template #footer>
        <div class="flex justify-end gap-12">
          <p-button label="Cancelar" icon="pi pi-times" text (click)="hidePage()" />
          <p-button label="Salvar" [disabled]="formInvalid()" icon="pi pi-check" (click)="saveBudget()" />
        </div>
      </ng-template>
    </p-card>
  </div>

  <div class="flex w-full justify-between flex-wrap gap-8 mt-8">
    <p-card header="Dados do orçamento" class="w-full lg:w-[30%]">
      <ng-template #content>
        <div class="flex flex-col gap-6">
          <div>
            <label for="name" class="block font-bold mb-3">Nome</label>
            <input type="text" pInputText id="name" [(ngModel)]="budget.name" placeholder="Nome do orçamento" required autofocus fluid />
            @if (!budget.name || (!!budget.name && budget.name.trim().length === 0)) {
            <p class="text-red-500">Nome é obrigatório.</p>
            }
          </div>

          <div>
            <label for="description" class="block font-bold mb-3">Descrição</label>
            <textarea id="description" rows="5" cols="30" pTextarea [(ngModel)]="budget.description" class="min-h-14"
              fluid></textarea>
          </div>

          <div class="grow">
            <label for="status" class="block font-bold mb-3">Status</label>
            <p-select id="status" [options]="statusSelect" [(ngModel)]="budget.status" optionLabel="label"
              optionValue="value" placeholder="Selecione um status" fluid />
          </div>

          <div>
            <label for="deliveryExpected" class="block font-bold mb-3">Previsão de entrega</label>
            <p-datepicker dateFormat="dd/mm/yy" id="deliveryExpected" [(ngModel)]="budget.deliveryExpected" placeholder="DD/MM/AAAA" fluid />
          </div>

          <div>
            <label for="responsible" class="block font-bold mb-3">Responsável</label>
            <input type="text" pInputText id="responsible" [(ngModel)]="budget.responsible" placeholder="Responsável pelo orçamento" autofocus fluid />
          </div>
        </div>
      </ng-template>
    </p-card>

    <p-card header="Produtos" class="w-full lg:w-[65%]">
      <div>
        <label for="product-name" class="block font-bold mb-3">Produto</label>
        <p-select id="product_name" [options]="productsSelect" optionLabel="name" optionValue="name"
          placeholder="Selecione um produto" [loading]="loadingProducts"
          [(ngModel)]="product.name" fluid />
      </div>

      <div class="flex items-center justify-between flex-wrap gap-6 mt-6">
        <div class="grow">
          <label for="product_quantity" class="block font-bold mb-3">Quantidade</label>
          <p-inputnumber inputId="product_quantity" [(ngModel)]="product.quantity" (onInput)="calculateTotalProduct()" fluid />
        </div>

        <div class="grow">
          <label for="product_price" class="block font-bold mb-3">Valor</label>
          <p-inputnumber inputId="product_price" [(ngModel)]="product.price" (onInput)="calculateTotalProduct()"
            mode="currency" currency="BRL" locale="pt-BR" fluid />
        </div>

        <div class="grow">
          <label class="block font-bold mb-3">Total</label>
          <p class="text-2xl font-bold text-green-600">
            {{ product.total | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
          </p>
        </div>
      </div>

      <div class="mt-6">
        <p-button label="Adicionar" icon="pi pi-check" [disabled]="formInvalidProduct()" (onClick)="addProduct()"
          fluid />
      </div>

      <div class="mt-6">
        <p-table 
          #dt 
          [value]="budget.products" 
          [rows]="5" 
          [columns]="cols" 
          [paginator]="true" 
          [globalFilterFields]="['name']"
          [rowHover]="true" 
          dataKey="id"
          currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} resultados"
          [showCurrentPageReport]="true" 
          size="small"
        >
          <ng-template #header>
            <tr>
              <th pSortableColumn="name">
                <div class="flex items-center gap-2">
                  Nome
                  <p-sortIcon field="name" />
                </div>
              </th>
              <th class="desktop" pSortableColumn="quantity">
                <div class="flex items-center gap-2">
                  Quantidade
                  <p-sortIcon field="quantity" />
                </div>
              </th>
              <th class="mobile" pSortableColumn="quantity">
                <div class="flex items-center gap-2">
                  Qtd
                  <p-sortIcon field="quantity" />
                </div>
              </th>
              <th pSortableColumn="price">
                <div class="flex items-center gap-2">
                  Preço
                  <p-sortIcon field="price" />
                </div>
              </th>
              <th pSortableColumn="total" class="desktop">
                <div class="flex items-center gap-2">
                  Total
                  <p-sortIcon field="total" />
                </div>
              </th>
              <th></th>
            </tr>
          </ng-template>

          <ng-template #body let-product>
            <tr>
              <td>{{ product.name }}</td>
              <td>{{ product.quantity }}</td>
              <td>
                {{ product.price | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
              </td>
              <td class="desktop">{{ product.total | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</td>
              <td class="">
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                  (click)="editProduct(product)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                  (click)="deleteProduct(product)" />
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-card>
  </div>

  <div class="mt-8">
    <p-card header="Serviços">
        <div>
          <label for="service_name" class="block font-bold mb-3">Serviço</label>
            <input type="text" pInputText id="service_name" [(ngModel)]="service.name" placeholder="Nome do serviço" autofocus fluid />
        </div>
  
        <div class="flex items-center justify-between flex-wrap gap-6 mt-6">
          <div class="grow">
            <label for="service_quantity" class="block font-bold mb-3">Quantidade</label>
            <p-inputnumber inputId="service_quantity" [(ngModel)]="service.quantity" (onInput)="calculateTotalService()" fluid />
          </div>
  
          <div class="grow">
            <label for="service_price" class="block font-bold mb-3">Valor</label>
            <p-inputnumber inputId="service_price" [(ngModel)]="service.price" (onInput)="calculateTotalService()"
              mode="currency" currency="BRL" locale="pt-BR" fluid />
          </div>
  
          <div class="grow">
            <label class="block font-bold mb-3">Total</label>
            <p class="text-2xl font-bold text-green-600">
              {{ service.total | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
            </p>
          </div>
        </div>
  
        <div class="mt-6">
          <p-button label="Adicionar" icon="pi pi-check" [disabled]="formInvalidService()" (onClick)="addService()"
            fluid />
        </div>
  
        <div class="mt-6">
          <p-table 
            #dt 
            [value]="budget.services" 
            [rows]="5" 
            [columns]="cols" 
            [paginator]="true" 
            [rowHover]="true" 
            dataKey="id"
            currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} resultados"
            [showCurrentPageReport]="true" 
            size="small"
          >
            <ng-template #header>
              <tr>
                <th pSortableColumn="name">
                  <div class="flex items-center gap-2">
                    Nome
                    <p-sortIcon field="name" />
                  </div>
                </th>
                <th class="desktop" pSortableColumn="quantity">
                  <div class="flex items-center gap-2">
                    Quantidade
                    <p-sortIcon field="quantity" />
                  </div>
                </th>
                <th class="mobile" pSortableColumn="quantity">
                  <div class="flex items-center gap-2">
                    Qtd
                    <p-sortIcon field="quantity" />
                  </div>
                </th>
                <th pSortableColumn="price">
                  <div class="flex items-center gap-2">
                    Preço
                    <p-sortIcon field="price" />
                  </div>
                </th>
                <th class="desktop" pSortableColumn="total">
                  <div class="flex items-center gap-2">
                    Total
                    <p-sortIcon field="total" />
                  </div>
                </th>
                <th></th>
              </tr>
            </ng-template>
  
            <ng-template #body let-service>
              <tr>
                <td>{{ service.name }}</td>
                <td>{{ service.quantity }}</td>
                <td>{{ service.price | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</td>
                <td class="desktop">{{ service.total | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</td>
                <td class="">
                  <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                    (click)="editService(service)" />
                  <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                    (click)="deleteService(service)" />
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
    </p-card>
  </div>

  <div class="flex w-full gap-8 mt-8">
    <p-card header="Cliente" class="w-full">
      <ng-template #content>
        <div class="flex items-start justify-center flex-wrap gap-6">
          <div class="grow">
            <label for="name" class="block font-bold mb-3">Nome</label>
            <input type="text" pInputText id="name" [(ngModel)]="budget.client.name" placeholder="Nome do cliente" required autofocus fluid />
            @if (!budget.client.name || (!!budget.client.name && budget.client.name.trim().length === 0)) {
              <p class="text-red-500">Nome é obrigatório.</p>
            }
          </div>

          @if (!budget.client.cpf || budget.client.cpf.trim().length === 0) {
            <div class="grow">
              <label for="cnpj" class="block font-bold mb-3">CNPJ</label>
              <p-inputmask 
                mask="99.999.999/9999-99" 
                [(ngModel)]="budget.client.cnpj" 
                placeholder="99.999.999/9999-99" 
                fluid
              />
              @if (formInvalidCPFCNPJ()) {
                <p class="text-red-500">CNPJ ou CPF é obrigatório.</p>
              }
            </div>
          }

          @if (!budget.client.cnpj || budget.client.cnpj.trim().length === 0) {
            <div class="grow">
              <label for="cpf" class="block font-bold mb-3">CPF</label>
              <p-inputmask 
                mask="999.999.999-99" 
                [(ngModel)]="budget.client.cpf" 
                placeholder="999.999.999-99" 
                fluid
              />
              @if (formInvalidCPFCNPJ()) {
                <p class="text-red-500">CPF ou CNPJ é obrigatório.</p>
              }
            </div>
          }

          <div class="grow">
            <label for="email" class="block font-bold mb-3">E-mail</label>
            <input type="email" pInputText id="email" [(ngModel)]="budget.client.email" placeholder="E-mail do cliente" required autofocus fluid />
            @if (!budget.client.email || (!!budget.client.email && budget.client.email.trim().length === 0)) {
              <p class="text-red-500">E-mail é obrigatório.</p>
            }
          </div>

          <div class="grow">
            <label for="phone" class="block font-bold mb-3">Celular</label>
            <p-inputmask 
              mask="(99) 99999-9999" 
              [(ngModel)]="budget.client.phone" 
              placeholder="(99) 99999-9999" 
              fluid
            />
            @if (!budget.client.phone || (!!budget.client.phone && budget.client.phone.trim().length === 0)) {
              <p class="text-red-500">Celular é obrigatório.</p>
            }
          </div>

          <div class="grow">
            <label for="cep" class="block font-bold mb-3">CEP</label>
            <p-inputmask 
              id="cep"
              mask="99.999-999" 
              [(ngModel)]="budget.client.cep" 
              placeholder="99.999-999" 
              fluid
              (onComplete)="getAddressByCEP()"
            />
          </div>

          <div class="grow">
            <label for="address" class="block font-bold mb-3">Endereço</label>
            <input type="text" pInputText id="address" [(ngModel)]="budget.client.address" placeholder="Endereço do cliente" autofocus fluid />
          </div>

          <div class="grow">
            <label for="city" class="block font-bold mb-3">Cidade</label>
            <input type="text" pInputText id="city" [(ngModel)]="budget.client.city" placeholder="Cidade do cliente" autofocus fluid />
          </div>

          <div class="grow">
            <label for="state" class="block font-bold mb-3">Estado</label>
            <input type="text" pInputText id="state" [(ngModel)]="budget.client.state" placeholder="Estado do cliente" autofocus fluid />
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>