<div 
  [class]="class"
>
  <label 
    [for]="inputId" 
    class="block mb-2 text-md font-medium text-gray-900 dark:text-white">
    {{ label }}
  </label>

  <div class="flex">
    @if (!!icon) {
      <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
        <div class="w-4 h-4 text-gray-500 dark:text-gray-400"></div>
      </span>
    }
    
    <input 
      [type]="type" 
      [id]="inputId" 
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" 
      [ngClass]="{'rounded-lg': !icon, 'rounded-r-lg': !!icon}"
      [placeholder]="placeholder" 
      [value]="value"
      [disabled]="disabled"
      (input)="onInputChange($event)"
      (blur)="onTouched()"
    />
  </div>
</div>
